

body {
    background-image: url('https://i.ytimg.com/vi/wZo45IPcBug/maxresdefault.jpg');
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;  
}
#mvpBlock{
    margin: auto;
    width: 50%;
    height: 50%;
    align-content: center;
    background-color: rgba(70, 130, 180, .7);
}
input{
    margin-bottom: 20px;
}
#submit{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 50px;
    width: 100px;
}



  